<h4>Create page</h4>
<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        Car Create
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter car name" type="text" name="Name" id="Name" />
                            <br />
                            <input class="form-control" placeholder="Enter brandID" type="text" name="BrandId" id="BrandId" />
                            <br />
                            <input class="form-control" placeholder="Enter colorID" type="text" name="ColorId" id="ColorId" />
                            <br />
                            <input class="form-control" placeholder="Enter PhotoUrl" type="text" name="PhotoUrl" id="PhotoUrl" />
                            <br />
                            <input class="form-control" placeholder="Enter ModelYear" type="text" name="ModelYear" id="ModelYear" />
                            <br />
                            <input class="form-control" placeholder="Enter DailyPrice" type="text" name="DailyPrice" id="DailyPrice" />
                            <br />
                            <input class="form-control" placeholder="Enter Description" type="text" name="Description" id="Description" />
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
