@model Entities.Concrete.Car
<h4>Edit page</h4>
<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form asp-action="edit">
                <div class="card mt-5">
                    <div class="card-header">
                        Car edit
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter car name" type="text" asp-for="Name"  required />
                            <br />
                            <input class="form-control" placeholder="Enter brandID" type="text" asp-for="BrandId"  required/>
                            <br />
                            <input class="form-control" placeholder="Enter colorID" type="text" asp-for="ColorId"  required/>
                            <br />
                            <input class="form-control" placeholder="Enter PhotoUrl" type="text" asp-for="PhotoUrl"  required/>
                            <br />
                            <input class="form-control" placeholder="Enter ModelYear" type="text" asp-for="ModelYear" required />
                            <br />
                            <input class="form-control" placeholder="Enter DailyPrice" type="text" asp-for="DailyPrice"  required/>
                            <br />
                            <input class="form-control" placeholder="Enter Description" type="text" asp-for="Description" required/>

                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
